<main class="main character-single container">
    <div class="row d-flex">
        <div class="col-md-8">
    <figure class="text-center">
        <img src="https://via.placeholder.com/450x500" alt="{{name}}" class="img-fluid home-img">
        <figcaption class="figcap">{{name}}</figcaption>
    </figure>
        </div>
        <div class="col-md-2">
            <h4>Character info</h4>
            <ul class="list-group">
                <li class="list-group-item">Gender: {{data.gender}}</li>
                <li class="list-group-item">Species: {{data.species}}</li>
                <li class="list-group-item">Home Planet: {{data.homePlanet}}</li>
                <li class="list-group-item">Job: {{data.occupation}}</li>
            </ul>
        </div>
    </div>


</main>